body {
    width: 30vw;
    margin: 0px;
    padding: 0px;
    height: 20vh;
    box-sizing: border-box;
}

.container {
    margin: 2vh, 2vh;
    padding: 1vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;

}

.container a {
    text-decoration: none;
    padding: 2vh;
    color: #000;
    font-size: 3em;
    text-align: center; 
    line-height: 4vw;
    margin:  2vh;
    border-radius: 5px;
    background-color: #f1f1f1;
    transition:  0.6s ;
    box-shadow: 10px 10px 10px black ;
}
